.page {
    font-family: Roboto, sans-serif;
}

/* header */
.header {}

.logo-link {
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #2196F3;
    font-family: Raleway;

}

.logo-header {

    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #000000;
    font-family: Raleway;
}


.site-nav {

    list-style: none;
}

.site-nav a {
    color: #212121;

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

}

.site-nav a:hover {
    color: #2196F3;
}

.site-nav a:focus {
    color: #2196F3;
}

.auth-nav {

    list-style: none;
}

.auth-nav a {
    color: #757575;

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

}

.auth-nav a:hover {
    color: #2196F3;
}

.auth-nav a:focus {
    color: #2196F3;
}

/* Main grey */
.section-grey {
    background-color: #2F303A;

}

.big-title {
    color: #FFFFFF;

    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;


}

.button {
    color: #FFFFFF;
    background-color: #188CE8;

    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;



}

/* Main white */
.list-advantages {
    list-style: none;
}

.advantages-title {
    color: #212121;

    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.advantages-text {
    color: #757575;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;


    letter-spacing: 0.03em;
}

.list-img {
    list-style: none;
}

.titles {
    color: #212121;

    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
}

.list-person {
    list-style: none;
}

.names {
    color: #212121;

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;


    text-align: center;
    letter-spacing: 0.03em;
}

.profession {
    color: #757575;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;


    text-align: center;
    letter-spacing: 0.03em;
}

/* Footer */
.adress {
    color: #FFFFFF;
}

.auth {
    color: rgba(255, 255, 255, 0.6);
}

.footer-nav {

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
}