:root{
    --primary-text-color:#757575;
    --title-text-color:#212121;
    --accent-color:#2196F3;


}
.page {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    background: #FFFFFF;
    color: var(--primary-text-color);
}

/* Header */
.logo-link {
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    color: var(--accent-color);
    text-decoration: none;
    font-family: Raleway;
}

.logo-header {
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    color: var(--title-text-color);
    text-decoration: none;
}


.site-nav {
    list-style: none;
}
.site-nav .link.current{
    color: var(--accent-color);
}

.site-nav a {
    color: var(--title-text-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}

.site-nav a:hover {
    color: var(--accent-color);
}

.site-nav a:focus {
    color: var(--accent-color);
}

.auth-nav {
    list-style: none;
}

.auth-nav a {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--primary-text-color);
}

.auth-nav a:hover {
    color: var(--accent-color);
}

.auth-nav a:focus {
    color: var(--accent-color);
}

/* Main */
.list {
    list-style: none;
}

.list .items {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    cursor: pointer;
}

.list .items:hover {
    color: #FFFFFF;
    background-color: var(--accent-color);
}

.list .items:focus {
    color: #FFFFFF;
    background-color: var(--accent-color);
}

.list .title {
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
}

.list .text {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
}

/* footer */
.logo-footer{
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    color: #FFFFFF;
    font-family: Raleway;
    text-decoration: none;
}
.foot{
    background-color: #2F303A;
}
.adress-nav {
    list-style: none;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
.adress a{
    color: #FFFFFF;
    text-decoration: none;
}
.auth-footer a{
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}
.auth-footer a:hover{
    color: var(--accent-color);
}
.auth-footer a:hover{
    color: var(--accent-color);
}